apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: igait
  labels:
    app: cloudflared
spec:
  replicas: 2
  selector:
    matchLabels:
      pod: cloudflared
  template:
    metadata:
      labels:
        pod: cloudflared
    spec:
      securityContext:
        sysctls:
        # Allows ICMP traffic (ping, traceroute) to resources behind cloudflared.
          - name: net.ipv4.ping_group_range
            value: "65532 65532"
      containers:
        - image: cloudflare/cloudflared:latest
          name: cloudflared
          env:
            # Defines an environment variable for the tunnel token.
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared
                  key: CF_TUNNEL_TOKEN
          command:
            # Configures tunnel run parameters
            - cloudflared
            - tunnel
            - --no-autoupdate
            - --protocol
            - http2
            - --loglevel
            - debug
            - --metrics
            - 0.0.0.0:2000
            - run
          resources:
            limits:
              cpu: 50m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          #livenessProbe:
          #  httpGet:
              # Cloudflared has a /ready endpoint which returns 200 if and only if
              # it has an active connection to Cloudflare's network.
          #    path: /ready
          #    port: 2000
          #  failureThreshold: 1
          #  initialDelaySeconds: 10
          #  periodSeconds: 10
